@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body {
    height: 100%;
    font-weight: 800;
}

button:focus {
    outline: 0;
}



svg {
    display: block;
    font: 9em 'Pathway Gothic One', sans-serif;
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: black;
    stroke-dasharray: 6% 29%;
    stroke-width: 6.5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

    .text-copy:nth-child(1) {
        stroke: #010500;
        animation-delay: -1;
    }

    .text-copy:nth-child(2) {
        stroke: #010500;
        animation-delay: -2s;
    }

    .text-copy:nth-child(3) {
        stroke: #010500;
        animation-delay: -3s;
    }

    .text-copy:nth-child(4) {
        stroke: #010500;
        animation-delay: -4s;
    }

    .text-copy:nth-child(5) {
        stroke: #010500;
        animation-delay: -5s;
    }
    .text-copy:nth-child(6) {
        stroke: #010500;
        animation-delay: -6s;
    }
    .text-copy:nth-child(7) {
        stroke: #010500;
        animation-delay: -7s;
    }
    .text-copy:nth-child(7) {
        stroke: #010500;
        animation-delay: -8s;
    }
    .text-copy:nth-child(7) {
        stroke: #010500;
        animation-delay: -9s;
    }
    .text-copy:nth-child(7) {
        stroke: #010500;
        animation-delay: -10s;
    }
@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -35%;
    }
}
